* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.snakegame {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
}

.container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 700px;
    height: 600px;
    position: relative;
}

.snakeAndLadderImage {
    width: 700px;
    height: 600px;
    position: absolute;
}

.box {
    border: 1px solid black;
    opacity: 0.5;
    z-index: 1;
}

.player {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    border-radius: 50%;
}

#demo1,
#demo3 {
    width: 60px;
    height: 60px;
    background: red;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    padding: 12px;
    margin-top: 20px;
}

#demo3 {
    background-color: green;
}

#demo2,
#demo4 {
    width: 60px;
    height: 60px;
    background: yellow;
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    padding: 12px;
    margin-top: 20px;
}

#demo4 {
    background-color: blue;
}

.buttons {
    padding: 30px;
    margin: 30px;
}

.player-button1 {
    margin-bottom: 150px;
}

.player1,
.player2,
.player3,
.player4 {
    border: 1px solid black;
    background-color: red;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 1;
    bottom: 30px;
    left: 290px;
}

.player2 {
    background-color: yellow;
    left: 280px;
}

.player3 {
    background-color: green;
    left: 270px;
}

.player4 {
    background-color: blue;
    left: 260px;
}