*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: grid;
    place-items: center;
    
}

.snakegame{
    display: flex;
    
}

.dies1{
    width: 60px;
    height: 60px;
    border: 1px solid black;
    border-radius: 50%;
}

.dies2{
    width: 60px;
    height: 60px;
    border: 1px solid black;
    border-radius: 50%;
}

.demo1{
    width: 60px;
    height: 60px;
    background: rgb(114, 224, 12);
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    padding: 12px;
    margin-top: 40px;
}

.demo2{
    width: 60px;
    height: 60px;
    background: rgb(201, 14, 101);
    border-radius: 50%;
    text-align: center;
    font-size: 30px;
    padding: 12px;
    margin-top: 40px;
}
.Buttons{
    padding: 30px;
    margin: 30px;
    background-color: rgb(238, 102, 102);
    border-radius: 30px;
    
}
.Player-Button{
    margin-top: 100px;
 
    
}



.grid-container{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    margin-top: 15px;

}

.box:nth-child(odd){
    background-color: rgb(247, 228, 222);
}

.box:nth-child(even){
    background-color: rgb(243, 159, 62);
}

.box:nth-child(3){
    background-color: rgb(168, 248, 224);
}

.box{
    display: flex;
    border: 1px solid rgb(17, 17, 17);
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 100px;
    
}


